// @import "assets/scss/config/variables";
@import "assets/scss/components/promo";
@import "assets/scss/components/card";
@import "assets/scss/components/cards";
@import "assets/scss/components/header";
@import "assets/scss/components/sidebar";

:root {
  --white: #FFF;
  --gray: #3d3d3d;
  --gray2: #6F6F6F;
  --gray3: #e1e1e1;
  --search-bg: #F9F9F8;
  --promo-bg: #FFF7EB;
  --promo-color: #FF6324;
  --promo-color2: #9F948C;

  --app-flex-direction: row;

  --section-w: 95%;
  --aside-w: 25%;

  --header-flex-direction: row;

  @media screen and (max-width: 100px) {
    
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem; /* ...16px  */
  line-height: 1.5;
  // font-family: 'Titillium Web', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.app {
  display: flex;
  flex-direction: var(--app-flex-direction);
  flex-wrap: wrap;

  section {
    // width: var(--section-w);
    flex: 1 1 55%;
  }

  aside {
    // width: var(--aside-w);
    flex: 1 1 32rem;
  }
}