// @import "assets/scss/config/variables";
@import "assets/scss/components/promo";

:root {
  --white: #FFF;
  --gray: #3d3d3d;
  --gray2: #6F6F6F;
  --gray3: #e1e1e1;
  --search-bg: #F9F9F8;
  --promo-bg: #FFF7EB;
  --promo-color: #FF6324;
  --promo-color2: #9F948C;

  --app-flex-direction: row;

  --section-w: 95%;
  --aside-w: 25%;

  --header-flex-direction: row;

  @media screen and (max-width: 100px) {
    
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem; /* ...16px  */
  line-height: 1.5;
  // font-family: 'Titillium Web', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.app {
  display: flex;
  flex-direction: var(--app-flex-direction);
  flex-wrap: wrap;

  section {
    // width: var(--section-w);
    flex: 1 1 55%;
  }

  aside {
    // width: var(--aside-w);
    flex: 1 1 32rem;
  }
}

.header {
  display: flex;
  flex-direction: var(--header-flex-direction);
  flex-wrap: wrap;
  align-items: center; /* verticalmente */
  width: 90%;
  margin: 0 auto;
  padding: 1vmin 0; /* * */

  img {
    width: 2.2rem;
    margin-right: 2rem;
  }

  .logo {
    font-size: 2.3rem;
    font-weight: 600;
    // width: 30%;
    flex: 1 1 30%;
  }

  .search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center; /*stretch*/
    // justify-content: center;
    height: 4.8rem;
    background-color: var(--search-bg);
    border-radius: 1.5rem;
    flex: 1 1 60%;
    width: 100%;

    .icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 1rem 0 1.8rem;
      img {
        width: 1.6rem;
      }
    }

    .search-input {
      border: none;
      background-color: inherit;
      flex: 1 1 20%;
      max-width: 70%;
    }
    .search-input:focus {
      border: none;
      outline: none;
    }

  }

}

.sidebar {
  background-color: #FEFEFB;
  height: 100vh;
  border-left: 2px solid var(--search-bg);
}

